<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.neusoft.mid.comp.boss.mybatis.xmlmapper.CompUserUnionAppTMapper">

	<resultMap id="ResultMap"
		type="com.neusoft.mid.comp.boss.mybatis.bean.CompUserUnionAppT">
	</resultMap>

	<select id="selectUserByAppId" resultMap="ResultMap"
		parameterType="java.lang.String">
		select u.USER_ID userId, u.USER_NAME userName, u.mobile, u.EMAIL from
		comp_authority_user_t u, comp_authority_user_app_t app
		where u.USER_ID = app.USER_ID
		and app.APP_ID = #{appId}
	</select>


</mapper>